h1 {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 6px -2px rgba(255, 253, 253, 0.3);
}
body {
    font-family: Arial, sans-serif;
    background-color: #131212;
    margin: 20px;
}

td {
    text-align: center;
    
}

.center {
    margin-left: auto;
    margin-right: auto;
}
.img {
    width: 100px;
    height: 100px;
}
#content {
    max-width: 600px;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(245, 244, 244, 0.425);
}
button.choice {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: lightgray;
    border: 2px solid gray;
    border-radius: 5px;
    cursor: pointer;
}
button.choice:hover {
    background-color: gray;
    color: white;
}